@model Katalog_za_knigi.DTOs.CategoryDTO

<div class="container mt-5">
    <h2 class="text-center">Edit Book</h2>
    <form asp-action="Edit" method="post" class="bg-dark text-light p-4 rounded">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control bg-secondary text-light border-0" />
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
